/* /////////////// Accueil */
body {
    background-color: #FFE1CB;
}

Link {
    text-decoration: none;
}

.accueil-container {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

.h1-accueil {
    grid-column: 1 / 2;
    margin: auto;
    font-size: 4rem;
    text-align: center;
    color: #240E00;
}

.img-accueil {
    display: grid;
    width: 35rem;
    height: 35rem;
    grid-column: 2 / 3;
    margin: auto;
}

/* /////////////// Jeux */
.jeux-container {
    background: linear-gradient(rgba(0, 0, 0, 0.387), rgba(0, 0, 0, 0.392)), url(../Assets/Images/Cafe-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: brightness(50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.jeux-container h2 {
    color: #FFE1CB;
    font-size: 3rem;
    text-align: center;
    width: 27rem;
    margin-bottom: 20vh;
    text-transform: uppercase;
}

.jeux-container button {
    background-color: #FFE1CB;
    color: #240E00;
    font-weight: 900;
    border: solid #240E00;
    width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vw;
}

.nos-cafe-container h2 {
    text-transform: uppercase;
}