@import '../Styles/FonctionStyle.scss';

.contaiter-cafe-test {
    background: linear-gradient(rgba(0, 0, 0, 0.387), rgba(0, 0, 0, 0.392)), url(../Assets/Images/Cafe-background.jpeg);
    @include bg-center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.content-cafe-test {
    margin-top: 5rem;
}

.contaiter-cafe-test p,
.h1-cafe-test {
    color: #FFE1CB;
    padding: 0 10vw 0 10vw;
}


.contaiter-cafe-test p {
    font-weight: 700;
    text-align: justify;
}

.container-choix {
    width: 100vw;
    @include center;
}

.button-choix {
    width: 20rem;
    height: 5vh;
    @include beige-border;
    display: block;
    text-align: center;
    font-weight: 900;
    border-radius: 10vw;
    margin: 2rem;
}

.resultat-cafe-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}