/* /////////////// Nouveau Produit */
.nouveau-produit-container {
    background-color: #FFE1CB;

    text-align: center;
    margin: auto;
}

.h2-nouveau {
    font-size: 3rem;
    font-weight: 800;
    padding: 2vh 0 2vh 0;
    margin: 0;
}

.component-nouveau-produit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nouveau-produit-image {
    grid-column: 1, 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nouveau-produit-image img {
    width: 40vw;
}

.nouveau-produit-texte {
    grid-column: 2, 3;
    /* display: grid; */
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    padding: 0 2rem 0 2rem;
}

.h2-pays {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
}

.line {
    margin: auto;
    background-color: #240E00;
    width: 45vw;
    height: 0.2rem;
}

.h2-produit {

    text-transform: uppercase;
    font-weight: 800;
}

.h2-forme {
    text-transform: uppercase;
    font-weight: 800;
}

.h2-description {
    text-align: justify !important;
}

.h2-forme,
.h2-arome,
.h2-saveur,
.h2-intensite,
.h2-description,
.h2-bio,
.h2-robusta,
.h2-arabica,
.h2-prix {
    font-size: 1rem;
}

.nouveau-produit-texte img {
    width: 2rem;
    margin-right: 2rem;
}

.arome-container,
.saveur-container,
.intensite-container {
    display: flex;
    flex-direction: row;
}

.robusta-arabica {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #240E00;
    color: #FFE1CB;
    font-weight: 900;
    border: solid #FFE1CB;
    width: 10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vw;
    text-decoration: none;
    margin: 1rem;
}