h1 {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 800;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
}

h5 {
    font-size: 0.7rem;
    text-transform: uppercase;
}

h6 {
    font-size: 0.5rem;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
}

input {
    font-size: 1rem;
}

button {
    font-size: 1rem;
}

////////////////////////////////////////////////////////////////

@media (max-width: 1000px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.5rem;
    }

    h5 {}

    p {
        font-size: 0.5rem;
    }

    input {
        font-size: 0.5rem;
    }

    button {
        font-size: 0.5rem;
    }
}