@import '../BaseStyles/FonctionStyle.scss';

/* /////////////// Nouveau Produit */
.component-nouveau-produit {
    display: flex;
    flex-direction: column;

    .container-produit {
        @include center;
        flex-direction: row;
        margin: 0 2rem 0 2rem;
    }

    .nouveau-produit-image {
        @include center;

        img {
            width: 40vw;
        }
    }

    .nouveau-produit-texte {
        padding: 0 2rem 0 2rem;
        @include center;
        flex-direction: column;
    }
}








////////////////////////////////////////////////




.container-detail-produit {
    @include center;
    flex-direction: row;
    margin: 0 2rem 2rem 2rem;
}

.nouveau-produit-container {
    background-color: #FFE1CB;
    text-align: center;
    margin: auto;
}


.line-brown {
    margin: auto;
    background-color: #240E00;
    width: 45vw;
    height: 0.2rem;
    margin: 1rem 0 1rem 0;
}

.h2-nouveau {
    padding: 2vh 0 2vh 0;
}

.txt-forme {
    margin-top: 1rem !important;
}

.txt-nouveau,
.txt-pays,
.txt-produit,
.txt-forme {
    font-weight: 800;
    margin: 0;
}

.txt-produit {
    text-align: center;
}

.txt-histoire {
    font-weight: 800;
}

.txt-description {
    text-align: justify;
}

.txt-son-histoire {
    color: #FFE1CB
}

.nouveau-produit-texte img {
    width: 2rem;
    margin-right: 2rem;
}

.arome-container,
.saveur-container,
.intensite-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.robusta-arabica {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-button {
    @include center;
}

.acheter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.container-ajouter-panier {}

.button-ajouter-panier {
    @include brown-border;
    font-weight: 900;
    border-radius: 10vw;
    width: 13rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding-right: 0;

    img {
        width: 1.5rem;
        margin: 0;
    }
}

.container-button-modifier {
    width: 100%;
    height: 5rem;
    background-color: #240E00;
    @include center;

    button {
        @include beige-border;
        font-weight: 900;
        border-radius: 10vw;
        width: 13rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;
        padding-right: 0;
    }
}

.button-decouvrir {
    @include brown-border;
    font-weight: 900;
    border-radius: 10vw;
    width: 13rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    padding-right: 0;
}

.description-cafe {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding: 0 2rem 0 2rem;
    margin: 2rem;
    text-align: justify;

}

.image-separateur {
    background-image: url(../../Assets/Images/AdobeStock_281504290.jpeg);
    @include bg-center;
    width: 100vw;
    height: 10rem;
    @include center;
}

.histoire-cafe {
    padding: 0 2rem 0 2rem;
}



@media (max-width: 1000px) {


    .container-produit {
        @include center;
        flex-direction: column;
        margin: 0 2rem 0 2rem;
    }

    .nouveau-produit-texte {
        padding: 0 0 2rem 0;

        img {
            width: 1rem;
            margin-right: 2rem;
        }
    }


    .button-ajouter-panier {
        justify-content: space-between;
    }

    .container-detail-produit {
        flex-direction: column;
        margin: 0 2rem 0rem 2rem;
    }

    .histoire-cafe {
        margin: 1rem 0 6rem 0;
    }

}