@import '../BaseStyles/FonctionStyle.scss';

.container-panier {
    width: 100vw;
    height: 100vh;
    // padding: 7rem 0 5rem 0;


}

.titre {
    text-align: center
}

/* //////////////////////////////////////////////////////////////// CARD PRODUIT */
.panier-card-produit {
    @include beige-border;
    width: 50vw;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1rem;
    transition: transform .2s;
}

.panier-card-img {}

.img-panier {
    width: 15rem;
}

.panier-card-Texte {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 0 1rem 0;

}

.panier-card-Texte h4 {
    font-weight: 800;
}

.panier-card-Button {}

.panier-card-x {
    padding: 1rem;

    .x {
        width: 1.5rem;
    }
}

.container-panier-total {}

.card-detail {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

.container-panier-vide {
    @include center;
    height: 100vh;
}

.container-panier-non-connecte {
    @include center;
    flex-direction: column;
    height: 100vh;
}


.container-panier {}


.panier-container {
    display: flex;
    justify-content: space-around;
    /* padding: 2rem; */
}

.produits-panier {}

.total-panier {
    @include brown-border;
    position: sticky;
    top: 15rem;
    width: 25vw;
    height: 30vw;
    padding: 2rem;
    border-radius: 0.5rem;
}

.line-beige {
    background-color: #FFE1CB;
    width: 100%;
    height: 0.1rem;
}

.container-sous-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paiement-button {
    @include beige-border;
    font-weight: 900;
    border-radius: 0.5rem;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // text-decoration: none;
    padding-right: 0;
}

.connexion-button {
    @include brown-border;
    font-weight: 900;
    border-radius: 0.5rem;
    width: 10%;
    height: 2rem;
    padding-right: 0;
}

// .panier-card-produit :hover {
//     transform: scale(1.1);
//     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
// }

// .panier-card-produit :hover .panier-card-img {
//     transform: scale(1.2);
// }


.button-panier {
    @include center;
    @include brown-border;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 900;
    font-size: 1rem;
    margin-left: 10px;
}

.container-quantite-panier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

////////////////////////////////////////////////////////////////
@media (max-width: 768px) {
    .container-panier {
        padding: 0
    }

    .panier-container {
        flex-direction: column;
        @include center;
    }

    .total-panier {
        width: 80%;
        position: relative;
        top: 0;
        margin-bottom: 30%;
    }

    .panier-card-produit {
        width: 100%;
    }

    .img-panier {
        width: 10rem;
    }

    .panier-card-Texte {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 0 1rem 0;
    }


}